<% content_for :title, "@everyone" %>

<main class="welcome">
  <section class="welcome__card">
    <p class="welcome__eyebrow">Hack Europe 2026</p>
    <h1 class="welcome__title">@everyone</h1>
    <p class="welcome__subtitle">
      Reach your trusted people quickly. This is the first static version of the app.
    </p>
    <%= button_to "Initiate call", initiate_call_path, method: :post, class: "welcome__cta" %>
  </section>
</main>
