<div class="login-container">
  <div class="login-card">
    <h1 class="signup-heading">Join the circle</h1>
    <p class="signup-subtext">Sign up here to get started</p>

    <form>
      <input type="email" placeholder="Email address" required>
      <input type="password" placeholder="Create a password" required>
      
      <button type="submit" class="landing__cta">
        Create Account
      </button>
    </form>

    <div class="back-to-home-container">
      <%= link_to "Back to Home", root_path, class: "back-link" %>
    </div>
  </div>
</div>